.AppDiv {
    text-align: center;
    background-color: rgb(116, 3, 37);

    div {
        

        h5 {
            color : red;
            font-weight: bold;
        
        }
       p {
         color : green;
         font-weight: 500;
       }
       
        li{
        color : rgb(192, 7, 7);
       
        
       }
       a{
        color : rgb(30, 13, 13);
       }
   
       
    }
  

  .hello{
    background-color : rgb(194, 231, 126);
    max-width : 100%;
  }

  .ccc{
    background-color: rgb(218, 230, 166);
  }

.active{
    color: rgb(246, 103, 14);

.defstyle{
    color : #fff;
}

}
}